name: Test Runner Git + File

on:
  push:
    branches:
      - develop  # 햦햩햦 main, 햣혜햩햦 혞 혝햣햠혪 햢혞햡햟혪 쒫왐햨햟

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: 游 햌햩쮏쫧쟴쮏쒫썜혧 햣쮏햦혝쮐햦햧 (checkout)
        uses: actions/checkout@v3

      - name: 행햟햡혞향햦혝혧 composer
        run: composer install

      - name: 행햟햡혞향햦혝혧 npm
        run: npm install

      - name: 행햟햠햦햩햢햦혝혧 쮏왏쥄
        run: npm run build
